@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .main-layout {
    @apply ml-8 lg:ml-16
  }

  .sidebar-layout {
    @apply fixed flex flex-col top-0 left-0 shadow-lg h-screen w-9 lg:w-16
    bg-white dark:bg-gray-900;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center text-blue-500 bg-gray-400
    hover:bg-blue-600 hover:text-white dark:bg-gray-800 transition-all
    duration-100 ease-linear cursor-pointer shadow-lg h-7 w-7 mt-1 mb-1 text-lg
    rounded-full hover:rounded-lg lg:h-12 lg:w-12 lg:mt-2 lg:mb-2 lg:text-3xl
    lg:rounded-3xl lg:hover:rounded-xl mx-auto;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0
    origin-left;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 border border-gray-200
    dark:border-gray-800 rounded-full mx-2;
  }

  .content-container {
    @apply flex flex-col overflow-hidden items-center bg-gray-200 text-gray-900
    dark:bg-gray-600 dark:text-gray-200 h-screen w-screen lg:w-auto text-sm m-0
    p-4 lg:text-6xl lg:pt-8;
  }

  .top-navigation {
    @apply flex flex-row items-center justify-evenly lg:justify-start pr-10
    bg-gray-300 dark:bg-gray-700 bg-opacity-90 w-screen lg:w-auto h-9 lg:h-16
    m-0 shadow-lg;
  }

  .top-navigation-icon {
    @apply text-gray-900 transition-all duration-100 ease-in-out cursor-pointer
    font-semibold mr-1 ml-1 p-0 text-xs hover:text-blue-500 lg:mr-3 lg:ml-3
    lg:p-1 lg:text-lg lg:hover:bg-blue-500 lg:hover:text-white
    lg:hover:rounded-lg lg:dark:text-white lg:dark:hover:text-white
    lg:dark:hover:bg-gray-800 text-center;
  }

  .top-navigation-icon-main {
    @apply text-gray-900 transition-all duration-100 ease-in-out cursor-pointer
    mr-1 ml-3 p-1 text-xs hover:text-blue-500 lg:mr-3 lg:ml-4 lg:p-2 lg:text-3xl
    lg:hover:bg-blue-500 lg:hover:text-white lg:hover:rounded-lg
    lg:dark:text-white lg:dark:hover:text-white lg:dark:hover:bg-gray-800
    font-semibold;
  }

  .dark-mode-layout {
    @apply fixed right-0 top-0;
  }

  .dark-mode-icon {
    @apply flex transition-all duration-100 ease-in-out cursor-pointer
    dark:text-yellow-300 dark:hover:text-blue-400 dark:hover:bg-amber-200
    bg-gray-400 text-blue-500 hover:bg-blue-600 hover:text-white rounded-full
    hover:rounded-lg text-lg h-7 w-7 mt-1 mb-1 mr-1 ml-2 lg:mr-3 lg:ml-4
    lg:hover:rounded-xl lg:rounded-3xl lg:text-4xl lg:h-12 lg:w-12 lg:mt-2
    lg:mb-2 mx-auto items-center justify-center;
  }

  .counter-example {
    @apply rounded-full hover:rounded-3xl bg-blue-500 text-gray-900
    hover:text-white hover:bg-blue-600 m-4 p-4 dark:bg-gray-800
    dark:text-blue-500 dark:hover:text-white;
  }

  .page-not-found-link {
    @apply underline text-blue-500 text-lg mt-8 lg:text-4xl lg:mt-5;
  }
}